[flake8]
max-line-length=300
extend-ignore =E401,E402,F401,C901,E203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .venv
    services/
; max-complexity = 10